.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.link {
  font-size: 28px;
  color: #5e5e5e;
  margin: 10px;
  text-decoration: none;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  width: 45%;
  max-width: 250px;
  text-align: center;
}

.link.active {
  color: #ccc;
  border: 1px solid #ccc;
}
