.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
}

.status {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  width: 80%;
  max-width: 800px;
  font-size: 7em;
  font-weight: bold;
  color: white;
}
