.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
}

.status-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  width: 80%;
  max-width: 700px;
  font-size: 7em;
  font-weight: bold;
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorize {
  display: flex;
  flex-basis: 100%;
}

.version {
  color: #5e5e5e;
}

button {
  background-color: white;
  border: none;
  color: #282c34;
  cursor: pointer;
  font-size: 0.2em;
  margin-top: 25px;
  padding: 10px 30px;
  width: 100%;
}

button:active {
  background-color: #ccc;
}
